body{
    background-color: rgb(180, 234, 234);
    margin:0;
    padding:0;
    text-align: center;
}
.container{
    background-color:rgb(151, 241, 241) ;
   
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #adb2c2;
    margin: 0;
    padding: 0;
  }
  
  